Repository MaciejGarncarski/instagram-clone: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier -w

.lintstagedrc:

{
    "components/**/*.{js,jsx,ts,tsx}": [
        "eslint --max-warnings=0",
        "prettier -w"
      ],
    "pages/**/*.{js,jsx,ts,tsx}": [
        "eslint --max-warnings=0",
        "prettier -w"
    ],
    "components/**/*.{css,scss}": [
        "prettier -w"
    ],
    "styles/**/*.{css,scss}": [
        "prettier -w"
    ],
    "./**/*.{json,css,scss,md}": [
        "prettier -w"
    ]
}

ci: add ci
  .github/workflows/ci.yml
  .github/workflows/create-branch.yml
  .github/workflows/issue-autolink.yml
  .github/workflows/lint.yml
Due: none

chore: fix husky rights
  .husky/commit-msg
  .husky/post-merge
Due: none

ci: bump node & pnpm versions
  .github/workflows/ci.yml
  .github/workflows/lint.yml
Due: none

chore: fix wrong eslint fix path
  package.json
Due: prettier -w

chore: add missing npm script
  package.json
Due: prettier -w

chore: fix linters & ci
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .husky/commit-msg
  .husky/post-merge
  package.json
Due: prettier -w

chore: add pretteirigonre files
  .commitlintrc
  .prettierignore
Due: none

chore: bugfix
  package.json
  pages/api/getSingleUser.ts
  pages/api/hello.ts
  pages/profile.tsx
  pnpm-lock.yaml
Due: eslint --max-warnings=0, prettier -w

fix: manifest pwa
  public/manifest.webmanifest
Due: none

feat: add prototype user auth
  components/heading/Heading.tsx
  pages/_document.tsx
  pages/login.tsx
  pages/profile.tsx
  public/manifest.webmanifest
  public/sw.js.map
Due: eslint --max-warnings=0, prettier -w

feat: add prototype user avatars
  components/heading/heading.module.scss
  components/layout/header/header.module.scss
  components/profile/userAvatar/UserAvatar.tsx
  components/profile/userAvatar/userAvatar.module.scss
  hooks/useProfile.tsx
  next.config.js
  pages/api/profiles/getProfile.ts
  pages/api/profiles/updateAvatar.ts
  pages/profile.tsx
  prisma/client.ts
  public/dancing.gif
  utils/profile.ts
Due: eslint --max-warnings=0, prettier -w

fix: avatar error styling
  components/account/Account.tsx
  components/account/account.module.scss
  components/account/userAvatar/UserAvatar.tsx
  components/account/userAvatar/userAvatar.module.scss
  components/editAccountForm/avatarContainer/AvatarContainer.tsx
  components/editAccountForm/avatarContainer/avatarContainer.module.scss
  components/editAccountForm/inputs/Inputs.tsx
  components/heading/heading.module.scss
  components/layout/header/header.module.scss
  components/layout/header/nav/item/item.module.scss
  components/layout/header/nav/nav.module.scss
  components/loader/loader.module.scss
  hooks/useAvatarInput.tsx
  hooks/useProfile.tsx
  pages/api/profiles/updateProfile.ts
  prisma/schema.prisma
  store/store.ts
Due: eslint --max-warnings=0, prettier -w

chore: remove unused package
  package.json
  prisma/migrations/20220820174339_init/migration.sql
Due: prettier -w

style: change type name
  components/editAccount/Form.tsx
Due: eslint --max-warnings=0, prettier -w

chore: update pnpm lock
  pnpm-lock.yaml
Due: none

chore: add prebuild script
  package.json
Due: prettier -w

feat: add remove avatar button
  components/account/Account.tsx
  components/account/account.module.scss
  components/account/userAvatar/AvatarImage.tsx
  components/account/userAvatar/UserAvatar.tsx
  components/account/userAvatar/userAvatar.module.scss
  components/auth/form/form.module.scss
  components/auth/input/error/error.module.scss
  components/editAccount/EditAccount.tsx
  components/editAccount/avatarContainer/AvatarContainer.tsx
  components/editAccount/avatarContainer/avatarContainer.module.scss
  components/editAccount/avatarSection/AvatarModal.tsx
  components/editAccount/avatarSection/AvatarSection.tsx
  components/editAccount/avatarSection/avatarSection.module.scss
  components/editAccount/buttons/Buttons.tsx
  components/editAccount/buttons/buttons.module.scss
  components/editAccount/editAccount.module.scss
  components/editAccount/inputs/Inputs.tsx
  components/editAccount/inputs/editInput/TextArea.tsx
  components/editAccount/inputs/editInput/editInput.module.scss
  components/loader/Loader.tsx
  components/loader/loader.module.scss
  components/modal/Modal.tsx
  components/modal/modal.module.scss
  hooks/useAvatarInput.tsx
  hooks/useDeleteAvatar.tsx
  hooks/useUpdateProfile.tsx
  hooks/useUser.tsx
  pages/_document.tsx
  pages/account.tsx
  pages/account/[id].tsx
  pages/account/edit.tsx
  pages/api/auth/index.ts
  pages/api/profiles/deleteAvatar.ts
  pages/auth/login.tsx
  pages/auth/logout.tsx
  pages/auth/register.tsx
Due: eslint --max-warnings=0, prettier -w

fix: user is remembered after log out
  components/account/Account.tsx
  components/account/userAvatar/AvatarImage.tsx
  components/auth/form/Form.tsx
  components/auth/form/authRedirect/AuthRedirect.tsx
  components/auth/form/authRedirect/authRedirect.module.scss
  components/auth/form/form.module.scss
  components/editAccount/EditAccount.tsx
  components/editAccount/avatarSection/AvatarModal.tsx
  components/editAccount/avatarSection/AvatarSection.tsx
  components/editAccount/buttons/Buttons.tsx
  components/editAccount/editAccount.module.scss
  components/editAccount/inputs/Inputs.tsx
  components/input/Input.tsx
  components/input/TextArea.tsx
  components/input/input.module.scss
  components/layout/header/nav/AccountLink.tsx
  components/layout/header/nav/nav.module.scss
  hooks/useAvatarInput.tsx
  hooks/useDeleteAvatar.tsx
  hooks/useLogout.tsx
  hooks/useProfile.tsx
  hooks/useUpdateAvatar.tsx
  hooks/useUpdateProfile.tsx
  hooks/useUser.tsx
  lib/avatar.ts
  lib/supabase.ts
  pages/account.tsx
  pages/account/edit.tsx
  pages/api/auth/index.ts
  pages/api/auth/logout-test.ts
  pages/api/profiles/deleteAvatar.ts
  pages/api/profiles/updateAvatar.ts
  pages/api/profiles/updateProfile.ts
  pages/auth/login.tsx
  pages/auth/logout.tsx
  pages/auth/register.tsx
Due: eslint --max-warnings=0, prettier -w

style: improve input style
  components/auth/form/Form.tsx
  components/input/error/error.module.scss
  components/input/input.module.scss
  components/layout/header/nav/AccountLink.tsx
  components/layout/header/nav/Nav.tsx
  components/layout/header/nav/nav.module.scss
  styles/globals.scss
Due: eslint --max-warnings=0, prettier -w

refactor: popup
  components/account/userAvatar/UserAvatar.tsx
  components/editAccount/EditAccount.tsx
  components/editAccount/buttons/buttons.module.scss
  components/editAccount/editAccount.module.scss
  components/input/input.module.scss
  components/layout/header/nav/nav.module.scss
  components/modal/modal.module.scss
  components/popup/Popup.tsx
  components/popup/popup.module.scss
  hooks/useAvatarInput.tsx
Due: eslint --max-warnings=0, prettier -w

feat: add popups
  components/account/account.module.scss
  components/account/userAvatar/AvatarImage.tsx
  components/account/userAvatar/UserAvatar.tsx
  components/editAccount/avatarSection/avatarSection.module.scss
  components/editAccount/buttons/Buttons.tsx
  components/editAccount/buttons/buttons.module.scss
  components/editAccount/editAccount.module.scss
  components/input/input.module.scss
  components/layout/header/header.module.scss
  components/layout/header/nav/nav.module.scss
  components/layout/layout.module.scss
  hooks/useAvatarInput.tsx
  pages/api/profiles/getProfile.ts
  pages/api/profiles/updateAvatar.ts
Due: eslint --max-warnings=0, prettier -w

fix: error when refreshing account page
  .vscode/settings.json
  components/account/Account.tsx
  components/account/userAvatar/AvatarImage.tsx
  components/account/userAvatar/UserAvatar.tsx
  components/editAccount/EditAccount.tsx
  components/editAccount/avatarSection/avatarSection.module.scss
  components/editAccount/buttons/buttons.module.scss
  components/editAccount/inputs/Inputs.tsx
  components/input/input.module.scss
  components/modal/Modal.tsx
  components/popup/Popup.tsx
  components/popup/popup.module.scss
  hooks/useProfile.tsx
  pages/_app.tsx
  pages/_document.tsx
  pages/account.tsx
  pages/api/profiles/getProfile.ts
  pages/auth/login.tsx
  styles/globals.scss
Due: eslint --max-warnings=0, prettier -w

fix: grid layout on modal
  components/account/userAvatar/AvatarImage.tsx
  components/auth/form/Form.tsx
  components/editAccount/avatarSection/avatarSection.module.scss
  components/modal/modal.module.scss
  pages/api/profiles/updateProfile.ts
Due: eslint --max-warnings=0, prettier -w

refactor: buttons to one button component
  components/account/account.module.scss
  components/auth/form/Form.tsx
  components/auth/form/form.module.scss
  components/common/Button.tsx
  components/common/input/Input.tsx
  components/common/input/TextArea.tsx
  components/common/input/error/Error.tsx
  components/common/input/error/error.module.scss
  components/common/input/input.module.scss
  components/editAccount/avatarSection/AvatarSection.tsx
  components/editAccount/avatarSection/avatarSection.module.scss
  components/editAccount/buttons/Buttons.tsx
  components/editAccount/buttons/buttons.module.scss
  components/editAccount/inputs/Inputs.tsx
  components/layout/header/nav/nav.module.scss
  components/modal/Modal.tsx
  components/modal/modal.module.scss
  styles/globals.scss
Due: eslint --max-warnings=0, prettier -w

fix: broken submit button
  components/editAccount/buttons/Buttons.tsx
Due: eslint --max-warnings=0, prettier -w

ci: fix svg error
  next.config.js
Due: none

ci: fix svg error
  .github/workflows/ci.yml
  next.config.js
Due: none

fix: move images to public
  .github/workflows/ci.yml
  components/account/userAvatar/AvatarImage.tsx
  components/account/userAvatar/UserAvatar.tsx
  components/layout/header/nav/AccountLink.tsx
  components/layout/header/nav/Nav.tsx
  public/images/account.svg
  public/images/add.svg
  public/images/bookmark.svg
  public/images/chat-2.svg
  public/images/chat.svg
  public/images/edit.svg
  public/images/favorite.svg
  public/images/search.svg
  public/images/send.svg
  public/images/sync.svg
Due: eslint --max-warnings=0, prettier -w

ci: fix svg error
  assets.d.ts
Due: none

ci: fix svg error
  tsconfig.json
Due: prettier -w

fix: icon type error
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .husky/pre-commit
  components/layout/header/nav/Nav.tsx
  package.json
Due: eslint --max-warnings=0, prettier -w

fix: simplify buttons
  .eslintrc
  components/account/Account.tsx
  components/account/account.module.scss
  components/account/userAvatar/AvatarImage.tsx
  components/account/userAvatar/UserAvatar.tsx
  components/account/userAvatar/userAvatar.module.scss
  components/auth/form/Form.tsx
  components/auth/form/form.module.scss
  components/common/button/Button.tsx
  components/common/button/button.module.scss
  components/common/input/input.module.scss
  components/editAccount/avatarSection/AvatarSection.tsx
  components/editAccount/avatarSection/avatarSection.module.scss
  components/editAccount/buttons/Buttons.tsx
  components/editAccount/buttons/buttons.module.scss
  components/layout/header/nav/Nav.tsx
  components/layout/header/nav/nav.module.scss
  components/modal/Modal.tsx
  components/modal/modal.module.scss
  next.config.js
  package.json
  pages/_app.tsx
  pnpm-lock.yaml
  prisma/migrations/20220829094918_update_profiles/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  styles/globals.scss
Due: eslint --max-warnings=0, prettier -w

feat: add new post page
  components/account/Account.tsx
  components/account/account.module.scss
  components/auth/form/form.module.scss
  components/common/button/button.module.scss
  components/editAccount/buttons/buttons.module.scss
  components/layout/layout.module.scss
  components/newPost/NewPost.tsx
  components/newPost/newPost.module.scss
  pages/new-post.tsx
  prisma/migrations/20220909034941_add_post/migration.sql
  prisma/migrations/20220909035531_add_post/migration.sql
  prisma/migrations/20220909035819_add_post/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
Due: eslint --max-warnings=0, prettier -w
