Repository MaciejGarncarski/instagram-clone: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier -w

.lintstagedrc:

{
    "components/**/*.{js,jsx,ts,tsx}": [
        "eslint --max-warnings=0",
        "prettier -w"
      ],
    "pages/**/*.{js,jsx,ts,tsx}": [
        "eslint --max-warnings=0",
        "prettier -w"
    ],
    "components/**/*.{css,scss}": [
        "prettier -w"
    ],
    "styles/**/*.{css,scss}": [
        "prettier -w"
    ],
    "./**/*.{json,css,scss,md}": [
        "prettier -w"
    ]
}

refactor: post like optimistic update
  hooks/posts/usePostData.tsx
  hooks/posts/usePostLike.tsx
Due: none

refactor: useMutation hook
  components/layout/nav/nav.module.scss
  hooks/posts/usePostLike.tsx
  pages/api/posts/postLike.ts
  utils/db.ts
Due: eslint --max-warnings=0, prettier -w

fix: minor style fixes
  components/molecules/post/postButtons/PostButtons.tsx
  components/organisms/accountPost/accountPost.module.scss
  pages/index.tsx
Due: eslint --max-warnings=0, prettier -w

fix: minor style fixes
  components/molecules/post/postHeader/postHeader.module.scss
  components/molecules/postModalComments/postModalComments.module.scss
  components/organisms/post/post.module.scss
  components/pages/homePage/homePage.module.scss
  package.json
  pnpm-lock.yaml
  public/manifest.webmanifest
Due: prettier -w

feat: add post edit and copy link
  components/atoms/button/button.module.scss
  components/atoms/modal/modalButton/ModalButton.tsx
  components/layout/layout.module.scss
  components/layout/nav/Nav.tsx
  components/layout/search/search.module.scss
  components/molecules/post/postButtons/PostButtons.tsx
  components/molecules/post/postButtons/postButtons.module.scss
  components/molecules/post/postEditModal/PostEditModal.tsx
  components/molecules/post/postEditModal/postEditModal.module.scss
  components/molecules/post/postSettings/PostSettings.tsx
  components/molecules/searchResult/searchResult.module.scss
  components/organisms/modal/modal.module.scss
  components/organisms/postModal/PostModal.tsx
  components/organisms/postModal/postModal.module.scss
  components/pages/homePage/homePage.module.scss
  pages/api/posts/post.ts
Due: eslint --max-warnings=0, prettier -w

feat: add followers
  components/atoms/followButton/FollowButton.tsx
  components/atoms/followButton/followButton.module.scss
  components/layout/Layout.tsx
  components/molecules/post/postHeader/PostHeader.tsx
  components/molecules/post/postHeader/postHeader.module.scss
  components/molecules/post/postSettings/PostSettings.tsx
  components/molecules/post/postSettings/postSettings.module.scss
  components/molecules/searchResult/SearchResult.tsx
  components/organisms/post/Post.tsx
  components/organisms/post/post.module.scss
  components/pages/account/Account.tsx
  hooks/posts/useSubmitPost.tsx
  hooks/profile/useProfile.tsx
  pages/api/accounts/getProfile.ts
  pages/api/accounts/getUserByUsername.ts
  pages/api/follow.ts
  pages/api/posts/post.ts
  prisma/migrations/20221105065958_add_followers/migration.sql
  prisma/migrations/20221105093709_fix_followers/migration.sql
  prisma/schema.prisma
Due: eslint --max-warnings=0, prettier -w

feat: add followers (#9)
  components/atoms/followButton/FollowButton.tsx
  components/atoms/followButton/followButton.module.scss
  components/layout/Layout.tsx
  components/molecules/post/postHeader/PostHeader.tsx
  components/molecules/post/postHeader/postHeader.module.scss
  components/molecules/post/postSettings/PostSettings.tsx
  components/molecules/post/postSettings/postSettings.module.scss
  components/molecules/searchResult/SearchResult.tsx
  components/organisms/post/Post.tsx
  components/organisms/post/post.module.scss
  components/pages/account/Account.tsx
  hooks/posts/useSubmitPost.tsx
  hooks/profile/useProfile.tsx
  pages/api/accounts/getProfile.ts
  pages/api/accounts/getUserByUsername.ts
  pages/api/follow.ts
  pages/api/posts/post.ts
  prisma/migrations/20221105065958_add_followers/migration.sql
  prisma/migrations/20221105093709_fix_followers/migration.sql
  prisma/schema.prisma
Due: eslint --max-warnings=0, prettier -w

feat: add followers and following list
  components/atoms/closeModalButton/closeModalButton.module.scss
  components/atoms/followButton/FollowButton.tsx
  components/molecules/accountModal/AccountModal.tsx
  components/molecules/accountModal/accountModal.module.scss
  components/molecules/accountModal/useFollowers.tsx
  components/molecules/accountModalResult/AccountModalResult.tsx
  components/molecules/accountModalResult/accountModalResult.module.scss
  components/pages/account/Account.tsx
  components/pages/account/account.module.scss
  pages/api/follow.ts
  pages/api/getFollowers.ts
  prisma/migrations/20221106085410_fix_follow/migration.sql
  prisma/schema.prisma
Due: eslint --max-warnings=0, prettier -w

fix: new image file format and quality
  utils/canvasPreview.ts
Due: none

feat: add post page
  components/molecules/post/postComment/PostComment.tsx
  components/pages/specificPost/SpecificPost.tsx
  components/pages/specificPost/specificPost.module.scss
  pages/posts/[id].tsx
  utils/canvasPreview.ts
Due: eslint --max-warnings=0, prettier -w

fix: new post toast not hiding
  components/pages/specificPost/specificPost.module.scss
  hooks/posts/useSubmitPost.tsx
  lib/updateToast.ts
  styles/globals.scss
Due: prettier -w

fix: new post toast not hiding
  hooks/posts/useAddPost.tsx
  hooks/posts/useSubmitPost.tsx
  lib/updateToast.ts
Due: none

fix: redirect after post upload
  components/organisms/post/Post.tsx
  hooks/posts/useSubmitPost.tsx
  utils/canvasPreview.ts
Due: eslint --max-warnings=0, prettier -w

fix: follow button shown on current user
  components/atoms/followButton/FollowButton.tsx
  components/molecules/accountModalResult/AccountModalResult.tsx
  components/molecules/post/postCommentSection/PostCommentSection.tsx
  components/molecules/searchResult/SearchResult.tsx
  components/pages/account/Account.tsx
  components/pages/account/account.module.scss
  pages/_document.tsx
Due: eslint --max-warnings=0, prettier -w

fix: account style refactor
  components/atoms/avatarImage/avatarImage.module.scss
  components/atoms/closeModalButton/closeModalButton.module.scss
  components/atoms/followButton/FollowButton.tsx
  components/layout/nav/nav.module.scss
  components/molecules/accountModal/AccountModal.tsx
  components/molecules/accountModal/accountModal.module.scss
  components/molecules/accountModalResult/accountModalResult.module.scss
  components/molecules/accountPostContainer/AccountPostContainer.tsx
  components/molecules/userAvatar/userAvatar.module.scss
  components/organisms/post/Post.tsx
  components/organisms/postModal/postModal.module.scss
  components/pages/account/Account.tsx
  components/pages/account/account.module.scss
  components/pages/homePage/HomePage.tsx
  hooks/profile/useAccountPosts.tsx
  package.json
  pages/[username].tsx
  pnpm-lock.yaml
  styles/mixins.scss
Due: eslint --max-warnings=0, prettier -w

fix(hook): refactor isLikedByUser from variable to useState
  components/molecules/post/postButtons/postButtons.module.scss
  hooks/posts/usePostLike.tsx
Due: prettier -w

fix: homepage prefetching
  pages/index.tsx
Due: eslint --max-warnings=0, prettier -w

fix: bugfix
  components/molecules/post/postButtons/PostButtons.tsx
  lib/apiClient.ts
  next-seo.config.ts
  next-sitemap.config.js
  public/robots.txt
Due: eslint --max-warnings=0, prettier -w

chore: remove old sitemap
  components/molecules/accountModal/accountModal.module.scss
  public/sitemap-0.xml
  public/sitemap.xml
Due: prettier -w

fix: invalidate data on follow
  components/atoms/followButton/FollowButton.tsx
  components/atoms/input/Input.tsx
  components/organisms/post/Post.tsx
  components/pages/homePage/HomePage.tsx
  pages/index.tsx
  styles/globals.scss
Due: eslint --max-warnings=0, prettier -w

fix: bugged follow button
  components/atoms/followButton/FollowButton.tsx
  components/molecules/accountModal/useFollowers.tsx
  components/organisms/post/Post.tsx
  components/pages/account/Account.tsx
  hooks/useProfileByUsername.tsx
  pages/api/accounts/getProfile.ts
  pages/api/accounts/getUserByUsername.ts
  pages/api/follow.ts
  styles/mixins.scss
Due: eslint --max-warnings=0, prettier -w

refactor: loader component
  components/atoms/followButton/FollowButton.tsx
  components/atoms/followButton/followButton.module.scss
  components/atoms/loader/Loader.tsx
  components/atoms/loader/loader.module.scss
  components/pages/homePage/homePage.module.scss
  styles/globals.scss
Due: eslint --max-warnings=0, prettier -w

fix: build error
  pages/index.tsx
Due: eslint --max-warnings=0, prettier -w

refactor: new post and some api routes
  .gitignore
  components/atoms/avatarImage/AvatarImage.tsx
  components/atoms/button/Button.tsx
  components/atoms/button/button.module.scss
  components/atoms/form/formContainer/formContainer.module.scss
  components/atoms/form/formHeading/formHeading.module.scss
  components/atoms/loader/Loader.tsx
  components/atoms/loader/loader.module.scss
  components/layout/nav/Nav.tsx
  components/layout/nav/nav.module.scss
  components/molecules/account/accountPosts/AccountPosts.tsx
  components/molecules/account/accountPosts/accountPosts.module.scss
  components/molecules/modals/postEditModal/PostEditModal.tsx
  components/molecules/newPostImage/NewPostImage.tsx
  components/molecules/newPostImage/newPostImage.module.scss
  components/organisms/newPostModal/NewPostModal.tsx
  components/organisms/newPostModal/newPostModal.module.scss
  components/pages/account/Account.tsx
  components/pages/newPost/NewPost.tsx
  components/pages/newPost/newPost.module.scss
  hooks/posts/useAddPost.tsx
  hooks/posts/useDeletePost.tsx
  hooks/posts/useSubmitPost.tsx
  hooks/profile/useDeleteAvatar.tsx
  hooks/profile/useUpdateAvatar.tsx
  hooks/useAuthRedirect.tsx
  hooks/useProfileByUsername.tsx
  package.json
  pages/[username].tsx
  pages/api/accounts/avatar.ts
  pages/api/accounts/deleteAvatar.ts
  pages/api/accounts/getProfileByUsername.ts
  pages/api/accounts/updateAvatar.ts
  pages/api/posts/addPost.ts
  pages/api/posts/deletePost.ts
  pages/api/posts/post.ts
  pages/index.tsx
  pages/new-post.tsx
  pnpm-lock.yaml
  store/store.ts
Due: eslint --max-warnings=0, prettier -w

fix: rename file
  components/pages/singlePost/singlePost.module.scss
Due: prettier -w

fix: homepage loading on scroll
  components/atoms/followButton/FollowButton.tsx
  components/atoms/followButton/followButton.module.scss
  components/atoms/form/formContainer/formContainer.module.scss
  components/atoms/goBackButton/GoBackButton.tsx
  components/layout/nav/Nav.tsx
  components/layout/search/search.module.scss
  components/molecules/account/accountModalResult/AccountModalResult.tsx
  components/molecules/account/accountModalResult/accountModalResult.module.scss
  components/molecules/modals/postModalComments/PostModalComments.tsx
  components/molecules/post/postHeader/PostHeader.tsx
  components/molecules/post/postHeader/postHeader.module.scss
  components/molecules/post/postSettings/PostSettings.tsx
  components/molecules/searchResult/SearchResult.tsx
  components/organisms/accountSettings/accountSettings.module.scss
  components/organisms/createPostModal/CreatePostModal.tsx
  components/organisms/createPostModal/createPostModal.module.scss
  components/organisms/loginForm/LoginForm.tsx
  components/organisms/postModal/PostModal.tsx
  components/organisms/postModal/postModal.module.scss
  components/organisms/search/Search.tsx
  components/pages/account/Account.tsx
  components/pages/account/account.module.scss
  components/pages/homePage/HomePage.tsx
  components/pages/homePage/homePage.module.scss
  components/pages/singlePost/SinglePost.tsx
  hooks/posts/usePostModal.tsx
  hooks/posts/usePostModalButtons.tsx
  hooks/posts/useSubmitPost.tsx
  hooks/profile/useProfile.tsx
  hooks/profile/useProfileByUsername.tsx
Due: eslint --max-warnings=0, prettier -w

fix: post like styles
  components/atoms/goBackButton/goBackButton.module.scss
  components/molecules/post/postButtons/PostButtons.tsx
  components/molecules/post/postButtons/postButtons.module.scss
  components/molecules/post/postComment/postComment.module.scss
  components/molecules/post/postCommentSection/postCommentSection.module.scss
  components/molecules/post/postFooter/PostFooter.tsx
  components/molecules/post/postFooter/postFooter.module.scss
  components/pages/homePage/HomePage.tsx
  components/pages/homePage/homePage.module.scss
Due: eslint --max-warnings=0, prettier -w

fix: post modal styles
  components/molecules/modals/postEditModal/PostEditModal.tsx
  components/molecules/modals/postModalComments/postModalComments.module.scss
  components/molecules/post/postCommentSection/postCommentSection.module.scss
  components/organisms/postModal/PostModal.tsx
  components/organisms/postModal/postModal.module.scss
Due: eslint --max-warnings=0, prettier -w

refactor: image bucket
  .env.example
  .env.local.example
  components/molecules/modals/avatarModal/AvatarModal.tsx
  components/molecules/modals/userAvatarModal/UserAvatarModal.tsx
  components/molecules/newPostImage/NewPostImage.tsx
  components/molecules/post/postHeader/PostHeader.tsx
  components/molecules/post/postSettings/PostSettings.tsx
  components/molecules/userAvatar/UserAvatar.tsx
  components/organisms/post/Post.tsx
  hooks/posts/useAddPost.tsx
  hooks/posts/useDeletePost.tsx
  hooks/posts/useImageInput.tsx
  hooks/posts/useSubmitPost.tsx
  hooks/profile/useDeleteAvatar.tsx
  hooks/profile/useUploadAvatar.tsx
  hooks/useAvatarInput.tsx
  hooks/useCreateImage.tsx
  next.config.js
  package.json
  pages/api/accounts/avatar.ts
  pages/api/posts/post.ts
  pnpm-lock.yaml
  prisma/migrations/20221117134452_add_avatar_id/migration.sql
  prisma/migrations/20221117140941_rename_posts/migration.sql
  prisma/migrations/20221117141402_remove_post_uuid/migration.sql
  prisma/schema.prisma
  store/store.ts
  utils/canvasPreview.ts
  utils/imageKit.ts
Due: eslint --max-warnings=0, prettier -w

fix: remove prerendering home page
  pages/index.tsx
Due: eslint --max-warnings=0, prettier -w

fix: remove api auth post
  pages/api/posts/post.ts
Due: eslint --max-warnings=0, prettier -w

fix: error post api
  hooks/posts/useSubmitPost.tsx
  next.config.js
  pages/api/accounts/avatar.ts
  pages/api/posts/post.ts
Due: eslint --max-warnings=0, prettier -w

fix: error post api
  next.config.js
  pages/api/posts/post.ts
Due: eslint --max-warnings=0, prettier -w

fix: error 500 post api
  components/molecules/modals/postEditModal/PostEditModal.tsx
  hooks/posts/useAddPost.tsx
  hooks/posts/useDeletePost.tsx
  hooks/posts/usePostLike.tsx
  pages/api/posts/post.ts
Due: eslint --max-warnings=0, prettier -w

fix: error 500 post api
  pages/api/posts/post.ts
Due: eslint --max-warnings=0, prettier -w

fix: 413 error
  pages/api/posts/post.ts
Due: eslint --max-warnings=0, prettier -w

fix: avatar 500 error
  pages/api/accounts/avatar.ts
Due: eslint --max-warnings=0, prettier -w
